.profilepage-content {
  max-width: 1128px;
  display: flex;
  align-items: start;
  gap: 24px;
  margin: 0 auto;
  padding: 0 16px;
}


/* -------------------------------------tablet responsive gelcek */
@media (width <= 768px) {
  .profilepage-content {
    max-width: 768px;

  }
}

/* -------------------------------------mobile  responsive gelicek*/
@media (width <= 475px) {
  .profilepage-content {
    max-width: 475px;
    margin: 0 auto;
    padding: 5px;
  }
}
