.container-linked {
  margin: 0 auto;
  align-items: center;
}
.nav-linked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.logo {
  width: 135px;
  height: 34px;
}

.nav-links-linked {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav-item-linked {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.nav-icon-linked {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}


.nav-buttons-linked {
  display: flex;
  align-items: center;
  gap: 15px;
}

.main-linked {
  display: flex;
  max-width: 1128px;
  margin: 0 auto;
  padding: 60px 0;
}

.content-linked {
  flex: 1;
  padding-right: 42px;
}

.hero-image {
  flex: 1;
  max-width: 700px;
}

h1 {
  font-size: 56px;
  color: #2977c9;
  font-weight: 200;
  line-height: 70px;
  margin-bottom: 40px;
}

.login-options-linked {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  padding: 16px 24px;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #0a66c2;
  cursor: pointer;
}

.btn-google {
  background: white;
  border: 1px solid #dadce0;
}

.btn-microsoft {
  background: white;
  border: 1px solid #dadce0;
}

.btn-email {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
}

.terms {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 16px;
}

.terms a {
  color: #0a66c2;
  text-decoration: none;
}

.signup-linked {
  margin-top: 20px;
  text-align: center;
}

.btn-primary-linked {
  background-color: #0a66c2;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.signup-linked a {
  color: #0a66c2;
  text-decoration: none;
  font-weight: 600;
}


.footerClone {
  font-size: 34px;
  font-weight: bold;
  align-items: center;
}


@media (max-width: 768px) {
  .main-linked {
    flex-direction: column;
    padding: 24px;
  }

  .hero-image {
    display: none;
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .content-linked {
    padding-right: 0;
  }
}
